body,
h1,
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
}

body{
    font-family: verdana;
    color: #111;
}

footer{
    padding: 48px;
    background-color: #dedede;
}

h2{
    color: red;
}

h1{
    font-size: 5em;
    padding: 48px;
    color: #696969;
    border-bottom: 1px solid #dedede;
}

.menu-items{
    font-family: courier, sans-serif;
    font-weight: bold;
    list-style-type: none;
    width: 600px;
    padding: 24px;
    border-style: dotted;
    border-color: red;
    background-color: #f4f4f4;
    margin-left: 24px;
}

section{
    font-family: Arial;
    width: 800px;
    margin: 48px;
}

.special{
    margin: 12px 0px;
    font-style: italic;
}

.daily-special{
    color: red;
}